{% extends "layout_fluid.html" %}
{% load breadcrumb %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

  <div class="row">

    {% url 'components.filesystem_ajax.cleanup_processing_space' as cleanup %}

    {% include "administration/sidebar.html" %}

    <div class="span12">

      <div style='margin-top: 10px; padding: 5px 15px 5px 15px; float:right; background-color: #eee;'>
        <p><b>Dashboard UUID</b> {{ dashboard_uuid }}</p>
      </div>

      <h3>General configuration</h3>

      {% if request.user.is_superuser %}
        <h4>Remove leftover processing files</h4>

        <p>This will remove backups of stored DIPs, failed and rejected AIPs, and the contents of the transfer staging area. Please note that this cannot be undone!</p>

        <a href="{{ cleanup }}">Cleanup processing directories</a>
      {% endif %}

      <form method='POST'>
        <h4>Interface options</h4>

        <p>Parts of the interface may be hidden if not needed.</p>

        {% include "_form.html" with form=interface_form %}

        <h4>Storage Service options</h4>

        {% include "_form.html" with form=storage_form %}

        <div class='span7'>
          <span style='float: right'><input type='submit' value='Save'></span>
        </div>
      </form>

    </div>

  </div>

{% endblock %}
